#virtual environment
/msvenv1
/.ipynb_checkpoints
/certificates
/certificados
/mongo-connection

#environment variables
.env

#database administrator
docker-compose.yml
my.cnf

#database
*.csv
*.json


#pdf-layout
*.pdf